html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family:"Cinzel", serif;
}

body {
    display: flex;
    background-color: rgb(233, 233, 233);
    flex-direction: column;
    overflow: hidden;
}


.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header {
    height: 45vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('video/dune.jpeg');                        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(1.2) saturate(1.5) brightness(0.9);
    background-attachment: fixed; 
    display: flex;
    background-position: center center;  
    position: relative;
}

.header-left,
.header-center,
.header-right {
    height: 100%;
    flex: 1;
    padding-top: 1vh;
    box-sizing: border-box;
    margin: 5px;
}

.header-left {
    display:flex;
    justify-content: center; 
    position: relative; 
}

.poster-holder{
    width: clamp(195px,350px,350px);
    aspect-ratio: 2 / 3;
    background: black;
    border: 1px solid yellow;
    display: flex;
    border-radius: 30px;
    margin: 0 auto;
    transform: translateY(10%);
    box-shadow: 0px 0px 23px rgb(0, 0, 1);
}

.header-center, .header-right  {
    display: block; 
}

.text-header{
    color: white;
}

.title-movie {
    display: block;
    font-size: 39px;
}

.info-movie-1 {
    display: block;
    font-size: 15px;
}

.block-text-1 {
    margin-top: 10px;
    line-height: 1;
}

.block-text-2 {
    line-height: 1.25;
    margin-top: 160px;
}

.info-movie-2 {
    display: block;
    font-size: 19px;
}

.header-right {
    display: flex;
    justify-content: center;  
    align-items: center;      
    position: relative;
    flex-direction: column;
    justify-content: space-between; 
}

.title-page {
    color: white;
    font-family: "Bungee Shade", sans-serif;
    margin-top:-5px;
    font-size: clamp(14px, 58px, 100px);
    line-height: 1;
    cursor: pointer;
}

.rating-circle {
    display: flex;
    justify-content: center;
    height: 135px;
    width: 135px;
    background-color: transparent;
    border-radius: 50%;
    color: white;
    min-width: 40px;
    min-height: 40px;
    align-items: center;
    font-size: 39px;
    margin-top: -45px;
    cursor: pointer;
    border: 10px solid white;
}

.icons {
    display: flex;             
    gap: 50px;                  
    margin-top: -10px; 
    margin-bottom: 10px;          
    justify-content: center;   
    cursor: pointer;
}
.rating-span {
    display:flex;
    margin-top: -90px;
}
.favourite, .pending {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    border-radius: 360px;
    height: 30px;
    width: 30px;
}

.favourite:hover,
.pending:hover {
    background-color: rgb(48, 48, 48);
}

.favourite:active,
.pending:active {
    background-color: grey;
}
/*.header-left { background: rgba(255,0,0,0.3); }
.header-center { background: rgba(0,255,0,0.3); }
.header-right { background: rgba(0,0,255,0.3); }*/

.search-container {
    display: flex;
    width: 807px;
    border-radius: 300px;
    height: 2vw;
    border: 0.5px solid #fffcfc;
    align-items: center;
    overflow: hidden;
    min-width: 250px;
    min-height: 30px;
}

 .search-container input {
    padding: 20px;
    flex: 1;
    font-size: 1rem;
    color: #ffffff;
    background-color: black;
    border: none;
    outline: none;
    flex: 1; 
    font-family:"Cinzel", serif;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.loupe-container {
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-left: 1px solid white;
    padding: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    min-height: 30px;
    min-width: 24px;
    background-color: black;
}

main {
    padding-top: 45vh; 
    overflow-y: auto;
    position: relative;
    z-index: 0;                
    align-items: flex-start;  
    justify-content: flex-start; 
    background-color: rgb(221, 221, 221);
}

.main-top {
    display: flex;              
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}

.synopsis {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    text-align: center;
    margin: 80px 100px;
    align-items: center;
    flex: 1;
}

.titles-main {
    color: black;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    margin-bottom: 0.5rem;
}

.main-texts { 
    color: black;
    font-size: 1rem;
}

.trailer-grid {
    width: 650px;
    aspect-ratio: 16/9;
    background-color: black;
    margin: 70px 90px;
    box-shadow: 0px 0px 23px rgb(0, 0, 1);
    min-width: 500px;
}

.cast {
  display: flex;
  flex-direction: column;
  align-items: center;        
  justify-content: center;
  margin: 80px auto;          
  text-align: center;         
}

.cast-subtitle {
    margin-top: -20px;
}